:root {
  --koala-background: #292f33;
  --koala-section-background: #1f2429;
  --koala-section-background-dark: rgb(77, 77, 77);
  --koala-text: white;
  --koala-pill: #1f2429;
  --koala-border: #677580;
}

html {
  min-height: 100vh;
  background-color: var(--koala-background);
  display: flex;
}

body {
  flex: 1;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.documentation {
  color: var(--koala-text);
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70vw;
  margin-bottom: 2rem;

  &__title {
    text-align: center;
  }

  &__expandable {
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
  }

  &__hidden {
    display: none;
  }

  &__expandable &__divider {
    height: 1px;
    width: 100%;
    align-self: center;
    margin-left: 1rem;
    background-color: var(--koala-text);
    margin-top: 0.5rem;
  }

  &__expandable &__caret {
    align-self: center;
    margin-right: 1rem;
  }

  &__expandable &__cogname {
    white-space: nowrap;
  }
}
